doctype html
html(lang="en")
  head
    title=pageTitle
  body
    h1 Isoroutes Example
    ul
      li
        a(href="/")="home"
    div#component!=component
    script(type="text/state" data-isoroutes-state="1")!=state
    script(type='text/javascript' async="async" src="/build/app.js")
